.cat-title {
    padding: 30px 0;
}

.category-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 90vw;
    justify-items: center;
    align-items: center;
    gap: 20px;
    padding: 10px;
}

.category-container > div {
    background: url("./img/psw.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(61, 59, 56);
    width: 20.8vw;
    height: 11.7vw;
    border: white 2px solid;
    border-radius: 30px;
    cursor: pointer;
    
}

.category-container > div:hover {
    transform: scale(1.01);
    background-color: rgb(255, 255, 255, 0.2)
    
}

.category-container > div > h4 {
    font-weight: 100;
    padding: 8px;
    margin: 10px;
    border-radius: 10px;
    width: fit-content;
    background-color: #1c1f22;

}