.detail-image {
  margin-top: 20px;
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
  width: 90vh;
  height: 90vh;
}

.detail-desc {
  padding-top: 20px;
}

.detail-desc div {
  padding: 5px 0px;
}

.like-container {
  display: flex;
}

.detail-likes {
  display: flex;
  justify-content: space-between;
}

.detail-delete-container input {
  background-color: red;
}

.tags {
  height: 80px;
  width: 400px;
}
