@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&family=Rubik+Doodle+Shadow&display=swap");
* {
  margin: 0;
  padding: 0;
  color: white;
  font-family: "Raleway", sans-serif;
}

body  {
  background-color:#1c1f22;
}

input[type="search"] {
  padding: 5px;
  font-size: medium;
  border: black 0px solid;
  border-radius: 6px;
  background-color: #1f2224;
  box-shadow: inset 0 0 4px 0px rgb(0, 0, 0, 1);
}

select, select option {
  padding: 10px;
  background-color:#222529;
  border: black 1px solid;
}


input[type="button"] {
  background-color: #202325;
  border: black 0px solid;
  border-radius: 6px;
  box-shadow: 0 0 3px 1px rgb(0, 0, 0, 0.6);
}


input[type="button"]:hover {
  background-color: #353a3d;
}

input[type="button"]:active {
  background-color: #151718;
}

.search-btn {
  margin-left: 10px;
  width: 28px;
  height: 28px;
}

header {
  background-color: #222529;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.header-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.header-upper-item {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-account {
  width: 35px;
  height: 35px;
  border: rgb(219, 219, 219) 2px solid;
  border-radius: 66px;
  background-image: url("./logo.svg");
  background-position: center;
  background-size: cover;
}

.selected-acc-false {
  display: none;
}

.selected-acc-true {
  position: absolute;
  top: 80px;
  right: 10vw;
  width: 150px;
  height: 200px;
  background-color: #151718;
  border-radius: 10px;
}

.selected-acc-true li {
  padding: 10px;
  border-radius: 10px;
}

.selected-acc-true li:hover {
background-color: #353a3d;
}


.hos-logo {
  font-family: "Rubik Doodle Shadow", system-ui;
  font-size: 30px;
}

.header-container ul {
  list-style: none;
}

.header-upper {
  width: 100%;
  padding: 20px 0;
}

.header-upper-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-lower {
  width: 100%;
  box-shadow: 0 1px 1px 1px rgb(0, 0, 0, 0.2);
}

.header-lower-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: white;
  background-color: black;
}

.nav-link {
  width: 100%;
  text-align: center;
  padding: 10px 10px;
}

