* {
  text-decoration: none;
  list-style: none;
}

main {
  background-color: #1c1f22;
  width: 100%;
  display: flex;
  justify-content: center;
}

.result-container {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.result-pagination {
  display: flex;
  width: 100%;
  justify-content: center;
}

.result-grid {
  padding: 20px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 20px;
}

.result-grid-element {
  border: solid 1px black;
  border-radius: 22px;
  box-shadow: 1px 1px 5px 0px rgb(0, 0, 0, 0.3);
}

.result-element-container {
  border-radius: 22px 22px 0 0;
  width: 20vw;
  display: flex;
  height: 20vw;
  flex-direction: column;
}

.result-img {
  border-radius: 22px 22px 0 0;
  height: 70%;
  width: 100%;
  background-position: center;
  background-size: cover;
}

.result-text {
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 12px;
}

.result-analitics-container {
  display: flex;
  font-size: 10px;
  align-items: end;
  justify-content: space-between;
}
