@import url("https://fonts.googleapis.com/css2?family=Fredoka:wdth,wght@75..125,300..700&display=swap");

$bgc-main: #212a3e;
$bgc-main-hover: #273148;
$bgc-second: #2a354b;
$bgc-second-hover: #33405a;
$bgc-main-alt: #ffa256;
$bgc-main-alt-hover: #ffc477;
$text-color: #f1f6f9;
$font-main: "Fredoka";
$input-border: solid 1px $text-color;
$input-radius: 10px;
$disabled: rgb(122, 122, 122);

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: $bgc-main;
    color: $text-color;
    font-family: $font-main;
    font-weight: 300;
    font-size: large;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90vw;
    padding: 10px;
    margin: auto;
}

//link style

a,
Link {
    text-decoration: none;
    color: $text-color;
}

//input style
section {
    background-color: rgb(0, 0, 0, 0);
}

input {
    background-color: $text-color;
    color: #212a3e;
    border: $input-border;
    border-radius: $input-radius;
    padding: 10px;
}

input[type="password"],
input[type="text"],
input[type="email"] {
    width: 100%;
}

input[type="search"] {
    width: 300px;
    height: 40px;
}

::-webkit-input-placeholder {
    font-family: $font-main;
}

section {
    background-color: $text-color;
}

select {
    background-color: $text-color;
    color: #212a3e;
    font-family: $font-main;
    border-radius: $input-radius;
    padding: 10px;
    height: 40px;
}

//header

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
}

//list

li {
    display: inline;
    list-style: none;
    text-align: center;
}

//Sample flex

.flex-col-around {
    display: flex;
    flex-direction: column;
    align-items: space-around;
    justify-content: center;
    width: 100%;
}

.flex-col-between {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: center;
    width: 100%;
}

.flex-row-around {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.flex-row-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

//image settings

.img-cover-center {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

@media only screen and (max-width: 600px) {
    main {
        width: 80vw;
    }
}
