@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&family=Rubik+Doodle+Shadow&display=swap");

* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: "Raleway", sans-serif;
}

body {
    background-color: #1c1f22;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: #222529;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

input[type="search"] {
    padding: 5px;
    font-size: medium;
    border: rgb(255, 255, 255) 1px solid;
    border-radius: 6px;
    background-color: #1f2224;
    width: 30vw;
}

select,
select option {
    padding: 10px;
    background-color: #222529;
    border: black 1px solid;
}

input[type="submit"] {
    width: 100px;
    border-radius: 10px;
    margin: auto;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: rgb(170, 170, 170);
}

input[type="button"] {
    background-color: #202325;
    border: rgb(255, 255, 255) 1px solid;
    border-radius: 6px;
    padding: 3px 5px;
    cursor: pointer;
}

input[type="button"]:hover {
    background-color: #353a3d;
}

input[type="button"]:active {
    background-color: #151718;
}

a {
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    border-color: #7c858b;
}
