.detail-image {
    border-radius: 10px;
    margin-top: 20px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 90vw;
    height: 90vh;
}

.detail-creator {
    display: flex;
    align-items: center;
    width: 200px;
    justify-content: space-between;
}

.detail-creator a {
    display: flex;
    align-items: center;
    font-weight: bold;
}

.detail-creator-avt {
    width: 25px;
    height: 25px;
    background-position: center;
    background-size: contain;
    border-radius: 99px;
    border: 1px white solid;
}

.detail-text {
    padding: 25px;
    width: 50vw;
}

.detail-text h1 {
    margin-bottom: 10px;
}

.detail-descripton {
    margin-bottom: 20px;
}

.detail-reaction {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.detail-reaction div {
    width: 100%;
}
