.detail-image {
  margin-top: 20px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 90vh;
  height: 90vh;
}

.detail-creator {
  display: flex;
}

.detail-creator-avt {
  width: 25px;
  height: 25px;
  background-position: center;
  background-size: contain;
  border-radius: 99px;
  border: 1px white solid;
}
