@use "Default";

form {
    background-color: Default.$navy-3;
    padding: 20px;
    width: 400px;
    border-radius: 20px;
}

.form-preview-avt {
    height: 200px;
    width: 100%;
    display: flex;

    justify-content: center;
}

.form-upload-preview-avt {
    width: 150px;
    height: 150px;
    border-radius: 99px;
    border: 2px Default.$orange-1 solid;
    @extend .img-cover-center;
}

.form-upload-preview {
    margin: 20px 0;
    height: auto;
    width: 100%;
    @extend .img-contain-center;
    background-size: 300px;
    border-radius: 20px;
}

.upload-avatar-container {
    display: flex;
    align-items: center;
}

.delete-avt {
    margin-left: 10px;
    width: 40px;
    height: 40px;
    font-size: large;
}

.tags-field {
    display: flex;
    height: auto;
    width: 100%;
}

.upload-tag {
    margin: 10px 2px;
    border-radius: 20px;
    padding: 0 5px;
    background-color: Default.$orange-1;
    &:hover {
        background-color: Default.$orange-2;
    }
}

.upload-tag::before {
    content: "#";
}
