@use "Default";

.feed-header {
    @extend .flex-row-between;
    margin: 20px 0;
    width: 90vw;
}

.feed-header-group {
    display: flex;
    align-items: center;
}

.pagination {
    margin-left: 10px;
    display: flex;
    width: fit-content;
    justify-content: center;
}

.item {
    @extend .flex-row-around;
    margin: 0 5px;
    border-radius: 99px;
    text-align: center;
    cursor: pointer;
    display: flex;
    width: 25px;
    height: 25px;

    a {
        color: Default.$orange-1;
        width: 25px;
        height: 25px;
    }
}

.next,
.previous {
    font-size: larger;
}

.item:hover,
.item a:hover {
    color: Default.$orange-2;
}

.pagination-page {
    &.active {
        background-color: rgb(255, 255, 255, 0.1);
    }
}

.disabled-page a {
    color: Default.$disabled;

    &:hover {
        color: Default.$disabled;
        cursor: not-allowed;
    }
}

@media only screen and (max-width: 600px) {
    .feed-header {
        flex-direction: column;
        align-items: center;
    }
    .feed-ordering-holder {
        text-align: center;
        margin: 20px 0;
    }
}
