@use "Default";

.feed-header {
    @extend .flex-row-between;
    margin: 20px 0;
    width: 90vw;
}

.feed-ordering-holder {
    width: 50%;
    text-align: end;
}

.pagination {
    display: flex;
    width: fit-content;
    justify-content: center;
}

.item {
    background-color: Default.$bgc-main-alt;
    @extend .flex-row-around;
    width: 30px;
    height: 30px;
    margin: 0 5px;
    border-radius: 99px;
    text-align: center;
    cursor: pointer;
}

.item:hover {
    background-color: Default.$bgc-main-alt-hover;
}

.disabled-page a {
    color: Default.$disabled;
}

@media only screen and (max-width: 600px) {
    .feed-header {
        flex-direction: column;
        align-items: center;
    }
    .feed-ordering-holder {
        text-align: center;
        margin: 20px 0;
    }
}
