@use "Default";

.feed-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 300px);
  gap: 20px;
  box-shadow: 0 0 10px 0px rgb(0, 0, 0, 0.3);
  padding: 20px;
  border-radius: 30px;
}

.feed-thumbnail {
  border-radius: 18px 18px 0 0;
  @extend .img-cover-center;
}

.feed-card {
  background-color: Default.$bgc-main-alt;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 0 2px 10px 1px rgb(0, 0, 0, 0.3);

  &:hover {
    .feed-thumbnail {
      animation: img-hover-in 0.1s ease-out forwards;
    }
  }

  &:not(:hover) {
    .feed-thumbnail {
      animation: img-hover-out 0.2s ease-out;
    }
  }
}

.feed-card:hover {
  animation: card-hover-in 0.3s ease-out forwards;
}
.feed-card:not(:hover) {
  &:not(:hover) {
    animation: card-hover-out 0.3s ease-out forwards;
  }
}

.feed-card a {
  height: 100%;
  display: grid;
  grid-template-rows: 70% 30%;
}

.feed-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 10px;

  h3,
  h6 {
    font-weight: 400;
  }
}

@media only screen and (max-width: 1200px) {
  .feed-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 850px) {
  .feed-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 600px) {
  .feed-grid {
    display: flex;
    flex-direction: column;
    width: 70vw;
  }
  .feed-card {
    height: 300px;
  }
}

@keyframes img-hover-in {
  0% {
  }
  100% {
    transform: scale(1.1);
    border-radius: 20px;
    z-index: 10;
  }
}

@keyframes img-hover-out {
  0% {
    transform: scale(1.1);
    border-radius: 20px;
    z-index: 10;
  }
  100% {
    transform: scale(1);
  }
}

@keyframes card-hover-in {
  0% {
  }
  100% {
    background-color: Default.$bgc-main-alt-hover;
    transform: scale(1.02);
  }
}

@keyframes card-hover-out {
  0% {
    background-color: Default.$bgc-main-alt-hover;
    transform: scale(1.01);
  }
  100% {
    transform: scale(1);
  }
}
